    @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #E5E5E5;
    }

    * {
        box-sizing: border-box;
    }

    .Cabecalho {
        height: 92px;
        width: 414px;
        background: #CF2B2B;
        position: fixed;
        top: 0;
        padding: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Cabecalho h1 {
        line-height: 55px;
        font-family: 'Righteous', cursive;
        font-size: 44px;
        color: white;
    }

    .Cabecalho h2 {
        line-height: 21px;
        font-size: 18px;
        color: white;
    }

    .Conteudo {
        margin-top: 123px;
        padding: 0 19px;
        width: 414px;
        display: flex;
        flex-direction: column;
    }

    .opcaoComida {
        margin-bottom: 27px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .tituloPedido {
        width: 290px;
        height: 25px;
        margin-bottom: 17px;
        font-size: 26px;
        font-family: 'Righteous', cursive;
        line-height: 33px;
        color: #333333;
    }

    .itensCardapio {
        display: flex;
        justify-content: start;
        overflow-x: scroll
    }

    .prato {
        width: 172px;
        height: 216px;
        margin-right: 16px;
        padding: 14px;
        border: 5px solid white;
        background-color: white;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .prato img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
    }

    .prato h2 {
        width: 139px;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        line-height: 18px;
        margin:5px 0;
    }

    .prato p {
        width: 139px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;

    }

    .prato h3 {
        width: 139px;
        font-size: 16px;
        margin-top: 8px;
        font-weight: 400;
        text-align: left;
        line-height: 18px;
    }

    .selecionado{
        border-color: #32B72F;
    }
    .caixaMisteriosa{
        height: 81px;
    }
    .Rodape {
        height: 92px;
        width: 414px;
        background: white;
        position: fixed;
        bottom: 0;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixaCinza {
        padding: 0 80px;
        height: 61px;
        width: 364px;
        border-radius: 50px;
        background: #CBCBCB;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .caixaCinza p{
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
    }
    .finalizarPedidoAtivado{
        background-color:  #32B72F;

    }
    .finalizarPedidoAtivado p{
        font-weight: 700;
        color: white;
    }